# Back-End Variables
DATABASE_URL=sqlite:////tmp/test.db
FLASK_APP_KEY="any key works"
JWT_SECRET_KEY="change-this-secret-key"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE

# Front-End Variables
VITE_BASENAME=/
VITE_BACKEND_URL=http://127.0.0.1:3001